<%- include("partials/header") %>

    <div class="container">

      <h1>Edit Comic</h1>

        <form action="/comics/<%= comic._id %>?_method=PUT" method="post">

            <div class="mb-3">
              <label for="title" class="form-label">Title</label>
              <input type="text" name="title" class="form-control" id="title" value="<%= comic.title %>">
            </div>

            <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                <input type="text" name="description" class="form-control" id="description" value="<%= comic.description %>">
              </div>

            <div class="mb-3">
              <label for="author" class="form-label">Author</label>
              <input type="text" name="author" class="form-control" id="author" value="<%= comic.author %>" >
            </div>

            <div class="mb-3">
              <label for="publisher" class="form-label">Publisher</label>
              <input type="text" name="publisher" class="form-control" id="publisher" value="<%= comic.publisher %>">
            </div>

            <div class="mb-3">
              <label for="date" class="form-label">Date</label>
              <input type="date" name="date" class="form-control" id="date" value="<%= comic.date.toISOString().split('T')[0] %>" >
            </div>

            <div class="mb-3">
              <label for="series" class="form-label">Series</label>
              <input type="text" name="series" class="form-control" id="series" value="<%= comic.series %>" >
            </div>

            <div class="mb-3">
              <label for="issue" class="form-label">Issue</label>
              <input type="number" name="issue" class="form-control" id="issue" value="<%= comic.issue %>" >
            </div>

            <div class="mb-3">
              <label for="genre" class="form-label">Genre</label>
              <select class="form-control" name="genre" id="genre">
                <option value="" disabled>--Choose Below--</option>
                <option <%= comic.genre === "SuperHero"? "selected" : "" %> value="superhero">SuperHero</option>
                <option <%= comic.genre === "manga"? "selected" : "" %> value="manga">Manga</option>
                <option <%= comic.genre === "slice-of-life"? "selected" : "" %> value="slice-of-life">Slice-of-life</option>
                <option <%= comic.genre === "humor"? "selected" : "" %> value="humor">Humor</option>
                <option <%= comic.genre === "sci-fi"? "selected" : "" %> value="sci-fi">Sci-fi</option>
                <option <%= comic.genre === "fantasy"? "selected" : "" %> value="fantasy">Fantasy</option>
                <option <%= comic.genre === "horro"? "selected" : "" %> value="horro">Horro</option>
                <option <%= comic.genre === "action"? "selected" : "" %> value="action">Action</option>
                <option <%= comic.genre === "nonfiction"? "selected" : "" %> value="nonfiction">Nonfiction</option>
              </select>
            </div>

            <div class="mb-3">
              <input type="checkbox" name="color" class="form-check-input" id="color" <%= comic.color ? 'checked' : '' %> >
              <label for="color" class="form-label">Color?</label>
            </div>

            <div class="mb-3">
              <label for="image" class="form-label">Image</label>
              <input type="text" name="image" class="form-control" id="image" value="<%= comic.image %>" >
            </div>

            <button type="submit" class="btn btn-outline-primary">Submit</button>
          </form>
    </div>

<%- include("partials/footer") %>