<%- include("partials/header") %>

    <div class="container">
        
        <div class="row">
            <% comics.forEach((comic) => { %>
                <div class="card mt-3">

                    <a href="/comics/<%= comic._id %>" target="_blank">
                        <img class="card-img card-img-top" src="<%= comic.image %>" alt="picture of <%=comic.title%> comic">
                    </a>
                    
                    <h3 class="card-title mt-3">Title: <%= comic.title %></h3>
                    <p class="card-text mb-3 mx-2">Description : <%= comic.description %></p>
                </div>
            <% }) %>
        </div>
        
    </div>
<%- include("partials/footer") %>